anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
blinker
certifi
cffi
cfgv
charset-normalizer
click
comm
contourpy
cycler
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-iconify
dash-mantine-components
dash-table
dash-tools
debugpy
decorator
defusedxml
distlib
docopt
executing
fastjsonschema
filelock
Flask
fonttools
fqdn
gunicorn
h11
httpcore
httpx
identify
idna
importlib_metadata
iniconfig
ipykernel
ipython
isoduration
itsdangerous
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
nodeenv
notebook_shim
numpy
overrides
packaging
pandas
pandocfilters
parso
patsy
pexpect
pillow
pipreqs
platformdirs
plotly
pluggy
pre-commit
prometheus_client
prompt-toolkit
psutil
ptyprocess
pure-eval
py
pycparser
Pygments
pyparsing
pytest
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
referencing
requests
retrying
rfc3339-validator
rfc3986-validator
rpds-py
ruamel.yaml
scipy
Send2Trash
setuptools
six
sniffio
soupsieve
stack-data
statsmodels
tenacity
termcolor
terminado
tinycss2
toml
tornado
traitlets
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
virtualenv
visdcc
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
yarg
yolk3k
zipp
gunicorn